BasedOnStyle: Microsoft
Language: Cpp
Standard: c++20

IndentWidth: 4
TabWidth: 4
UseTab: Always

ColumnLimit: 120

AccessModifierOffset: -4
NamespaceIndentation: None

AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

PointerAlignment: Left
ReferenceAlignment: Left

AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: true

BraceWrapping:
  AfterFunction: true
  BeforeLambdaBody: true
BreakBeforeBraces: Custom

AlignAfterOpenBracket: AlwaysBreak

SortIncludes: CaseSensitive
IncludeBlocks: Preserve
